<ion-header class="ion-no-border ion-padding" >
  <div class="titles">
    <h4>
      <span>BOOK</span> tarija
    </h4>
    <ion-card-subtitle>
      Buscar tu libro ideal y empieza a leer.
    </ion-card-subtitle>

    <ion-searchbar class="ion-no-padding ion-padding-top" placeholder="Encuentra tu libro ideal"></ion-searchbar>
  </div>

</ion-header>

<ion-content class="ion-padding-left"> 
    <ion-grid >
      <ion-row>
        <ion-col size="6" *ngFor="let item of libros | async" >
            <div class="libro" (click)="irdetallelibro(item.key)">
              <p class="libro_titulo">{{item.nombre}}</p>
              <img class="libro_img" src="{{item.img}}" alt="">
              <p class="libro_autor">{{item.autor}}</p>
              <ion-badge [ngStyle]="{'background-color':item.estado === 'disponible' ? 'green' : 'red' }">{{item.estado}}</ion-badge>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
<a href="https://wa.link/o3owvy">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button class="color-whatsapp">
      <ion-icon  name="chatbox-ellipses"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</a>